body {
    font-size: 12px;
}

* {
    outline: none;
    text-transform: capitalize;
}

.App {}

.App-logo {
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 3rem;
    line-height: 9rem;
}

.App-search,
.App-data {
    width: 100%;
    max-width: 1000px;
    margin: 4rem auto;
    border: 1px solid #ddd;
    padding: 2rem;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.Item {
    border-bottom: 1px solid #ccc;
}

p {
    font-size: 1rem;
}

p.npcItem {
    display: inline-block;
    width: 25%;
    margin-bottom: 0px;
}

a {
    font-size: 1rem;
    color: black;
    display: inline-block;
    margin-right: 5px;
}


/* mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    .App-search,
    .App-data {
        max-width: 250px;
    }
    .App-header {
        height: 100px;
        font-size: 2rem;
        line-height: 2.8rem;
    }
}