body {
  font-size: 12px;
}

* {
  outline: none;
  text-transform: capitalize;
}

.App {
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 3rem;
  line-height: 9rem;
}

.App-search,
.App-data {
  width: 100%;
  max-width: 1000px;
  margin: 4rem auto;
  border: 1px solid #ddd;
  padding: 2rem;
}

input {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

.Item {
  border-bottom: 1px solid #ccc;
}

p {
  font-size: 1rem;
}
