body {
    font-size: 12px;
}

* {
    outline: none;
    text-transform: capitalize;
}

.App {}

.App-logo {
    height: 80px;
}

nav {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.App-header {
    background-color: #222;
    padding: 40px;
    color: white;
    text-align: center;
    font-size: 3rem;
}

.App-header small {
    font-size: 16px;
    text-transform: none;
}

.App-search,
.App-data {
    width: 100%;
    max-width: 1000px;
    margin: 4rem auto;
    border: 1px solid #ddd;
    padding: 2rem;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.Item {
    border-bottom: 1px solid #ccc;
}

p {
    font-size: 1rem;
}

p.npcItem {
    display: inline-block;
    width: 25%;
    margin-bottom: 0px;
}

a {
    font-size: 1rem;
    color: black;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
}

.react-numeric-input, b {
  display: none;
}

.react-numeric-input, input {
  border: none!important;
  background-color: transparent!important;
}

.simulator-image {
  display: block;
  margin: 0 auto;
  width: 410px;
}

.simulator-container {
  width: 410px;
  margin: 0 auto;
  display: block;
  cursor: default!important;
}

.simulator-container, ::selection {
  background: transparent; /* WebKit/Blink Browsers */
}

.simulator-container, ::-moz-selection {
  background: transparent; /* Gecko Browsers */
}

.simulator-title {
  line-height: 22px;
  padding: 61px 25px 0 25px;
  text-transform: none!important;
  text-align: center;
}

.absolute {
  font-size: 18px;
  width: 410px;
  position: absolute;
}

.level {
  position: relative;
  left: 42px;
  top: 15px;
}

#level {
  font-size: 16px!important;
  position: relative;
  left: 22px;
  cursor: default!important;
}

.rebirth {
  position: relative;
  left: 164px;
  top: -21px;
}

#rebirth {
  font-size: 16px!important;
  position: relative;
  left: 3px;
}

.remainingpoints {
  position: relative;
  left: 42px;
  top: -4px;
}

#remainingpoints {
  font-size: 16px;
  position: relative;
  left: 41px;
}

.health {
  position: relative;
  left: 42px;
  top: 5px;
}

#health {
  font-size: 16px;
  position: relative;
  left: 20px;
}

.mana {
  position: relative;
  left: 42px;
  top: 14px;
}

#mana {
  font-size: 16px;
  position: relative;
  left: 27px;
}

.stamina {
  position: relative;
  left: 42px;
  top: 24px;
}

#stamina {
  font-size: 16px;
  position: relative;
  left: 61px;
}

.load {
  position: relative;
  left: 42px;
  top: 33px;
}

#load {
  font-size: 16px;
  position: relative;
  left: 32px;
}

.strength {
  font-size: 16px;
  position: relative;
  left: 222px;
  top: -123px;
}

#strength {
  font-size: 16px!important;
  position: relative;
  left: 7px;
}

.plus_or_minus {
  width: 19px;
  color: transparent;
  display: inline-block;
  cursor: pointer;
}

#plus_strength {
  position: relative;
  left: 3px;
  top: -3px;
}

#minus_strength {
  position: relative;
  left: 4px;
  top: -3px;
}

.vitallity {
  font-size: 16px;
  position: relative;
  left: 222px;
  top: -142px;
}

#vitallity {
  font-size: 16px!important;
  position: relative;
  left: 15px;
}

#plus_vitallity {
  position: relative;
  left: 10px;
  top: -4px;
}

#minus_vitallity {
  position: relative;
  left: 11px;
  top: -4px;
}

.dexterity {
  font-size: 16px;
  position: relative;
  left: 222px;
  top: -162px;
}

#dexterity {
  font-size: 16px!important;
  position: relative;
  left: 6px;
}

#plus_dexterity {
  position: relative;
  left: 2px;
  top: -4px;
}

#minus_dexterity {
  position: relative;
  left: 3px;
  top: -4px;
}


.intellect {
  font-size: 16px;
  position: relative;
  left: 222px;
  top: -182px;
}

#intellect {
  font-size: 16px!important;
  position: relative;
  left: 14px;
}

#plus_intellect {
  position: relative;
  left: 10px;
  top: -4px;
}

#minus_intellect {
  position: relative;
  left: 11px;
  top: -4px;
}

.magic {
  font-size: 16px;
  position: relative;
  left: 222px;
  top: -202px;
}

#magic {
  font-size: 16px!important;
  position: relative;
  left: 3px;
}

#plus_magic {
  position: relative;
  left: -1px;
  top: -3px;
}

#minus_magic {
  position: relative;
  left: 0px;
  top: -3px;
}

.luck {
  font-size: 16px;
  position: relative;
  left: 222px;
  top: -222px;
}

#luck {
  font-size: 16px!important;
  position: relative;
  left: 9px;
}

#plus_luck {
  position: relative;
  left: 4px;
  top: -3px;
}

#minus_luck {
  position: relative;
  left: 5px;
  top: -3px;
}

/* mobile */

@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    .App-search,
    .App-data {
        max-width: 250px;
    }
    .App-header {
        height: 100px;
        font-size: 2rem;
        line-height: 2.8rem;
    }
    p.npcItem {
        width: 100%;
    }
}
